%li
	- if track['image'][0]["#text"] != ""
		%img{:src => track['image'][0]["#text"]}
	- else
		
	%p
		%span= track['artist']['#text']
		%span -
		%span= track['name']
		%br	
		%span.date #{time_ago_in_words(track['date']['#text'])} ago