%li
	- if track['image'][0]["#text"] != ""
		%img{:src => track['image'][0]["#text"], :alt => track['album']["#text"]}
	- else
		%img{:src => "/i/noartwork.gif", :alt => "No artwork available"}
	%p
		%span= track['artist']['#text']
		%span -
		%span= track['name'].truncate(35)
		%br
		-if track['date'] != nil
			%span.date #{time_ago_in_words(track['date']['#text'])} ago
		-else track["@attr"]["nowplaying"] == "true"
			%span.now-playing Now Playing