%section#home-content
	%section#home-about
		%h1 About Me
		%p I'm a Chicago-based web developer, currently working as a Sr. Developer at Critical Mass where I specialize in developing web sites for a variety of clients. I'm an experienced front-end developer with expertise in the latest development technologies including HTML5, CSS3, JavaScript and jQuery, and web site optimization.
	%section#home-work
		%h1
			%span Work
			%a{:href => "/projects/"} More&hellip;
		= render(:partial => "projects/project_list")
%section#home-posts
	%h1
		%span Recent Blog Posts
		%a{:href => "/posts/"} More&hellip;
	- top_posts(3)
	%ul#top-posts
		- @top_posts.each do |post|
			= render(:partial => "posts/posts_list", :locals => {:post => post})