%section#home-content
	%section#home-about
		%h1 About Me
		Tom Klun is a Chicago-based web developer. Currently working as a Web Engineer at Arc Worldwide, he specializes in developing web sites for a variety of clients. Tom is an experienced developer with expertise in the latest development technologies including HTML5, CSS3, JavaScript and jQuery, and web site optimization.
	%section#home-work
		%h1 Work
%section#home-posts
	%h1 Recent Posts Title
	- top_posts(5)
	%ul#top-posts
		- @top_posts.each do |post|
			%li{:class => "#{'single-' if defined? single}post", :id => "post-#{post.id}"}
				= render(:partial => "posts/individual_post", :locals => {:post => post})