%section#tags-content
	%section#tags-sidebar.side-col
		= render(:partial => "posts/posts_sidebar")
	%section#tags-list.main-col
		%h1= @tagname
		%ul
			- @tagposts.each do |post|
				= render(:partial => "posts/posts_list", :locals => {:post => post})
			= will_paginate @tagposts