%h2= link_to post.headline, post
.post-tags
	%span Posted #{time_ago_in_words(post.created_at)} ago in
	%span.tags= tags(post)
.post-content
	- unless post.assets.nil? || post.assets.count == 0
		#slider.nivoSlider
			- post.assets.each do |asset|
				=image_tag(asset.photo.url(:medium))
	!= post.rendered_content