%h2= link_to post.headline, post
.post-tags
	%span Posted #{time_ago_in_words(post.created_at)} ago in
	%span.tags= tags(post)
.post-content
	- if post.image_path != ""
		=image_tag("../i/post-images/cupcake.jpg")
	- if post.photo != ""
		=image_tag post.photo.url
		=image_tag post.photo.url(:medium)
		=image_tag post.photo(:thumb)
		=image_tag post.photo(:large)
	!= post.rendered_content