.col-item
	%h3 Blog
	%ul
		- @sidebarPosts.each do |post|
			%li
				= link_to post.headline, post
.col-item
	%h3 By Topic
	%ul
		- all_tags
		- @tags.each do |tag|
			%li
				= link_to tag.tag_name, tag
.col-item
	%h3 By Date
	%ul
		%li
			%a{:href => "/archive/2011/11/"} November 2011
		%li
			%a{:href => "/archive/2011/10/"} October 2011
		%li
			%a{:href => "/archive/2011/08/"} August 2011
		%li
			%a{:href => "/archive/2011/07/"} July 2011
		-# %li
		-# 	%a{:href => "/archive/2011/06/"} June 2011