%section#posts-content
	%section#posts-sidebar.side-col
		= render(:partial => "posts_sidebar")
	%section#posts-list.main-col
		%h1
			Archive from
			%span= @month 
			%span= @year
		%ul
			- @month_posts.each do |post|
				= render(:partial => "posts/posts_list", :locals => {:post => post})