%section#posts-content
	%section#posts-sidebar.side-col
		= render(:partial => "posts_sidebar")
	%section#posts-list.main-col
		%h1 Recent Blog Posts
		%ul
			- @posts.each do |post|
				= render(:partial => "posts/posts_list", :locals => {:post => post})
				- if user_signed_in?
					= link_to "delete", post, :method => :delete, :confirm => "You sure?", :title => post.headline
		= will_paginate