%h1 All Posts
%ul
	- @posts.each do |post|
		%li
			= link_to post.headline, post
			- if user_signed_in?
				= link_to "delete", post, :method => :delete, :confirm => "You sure?", :title => post.headline	